[submodule "Quartz/vendor/spdlog"]
	path = Quartz/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Quartz/vendor/glm"]
	path = Quartz/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Quartz/vendor/GLFW"]
	path = Quartz/vendor/GLFW
	url = git@github.com:eligum/glfw.git
[submodule "vendor/premake-cmake"]
	path = vendor/premake-cmake
	url = git@github.com:Enhex/premake-cmake.git
[submodule "vendor/premake-export-compile-commands"]
	path = vendor/premake-export-cc
	url = git@github.com:tarruda/premake-export-compile-commands.git
